<h1><%= image_tag 'list.png', size: '100x100' %> <%= @list.title %></h1>

<script>
  jQuery(document).ready(function() {
    $("form").on("submit", function(e) {
      e.preventDefault();
      // 1. Make an asynchronous HTTP request (POST /items)
      $.ajax({
        url: "/items",
        method: "POST",
        dataType: 'JSON',
        data: $("form").serialize(),
        success: function(response) {
          console.debug(response)
          // 2. Update the DOM (add a new list item)
          $("ul").append("<li>" + response.content + "</li>");
          // 3. Clear the form field
          $("#content").val("");
        },
        error: function(response) {
          window.alert("Yikes!");
          console.debug(response);
        }
      });
    });
  })
</script>


<div class="items">
  <%= form_tag '/items' do %>
    <%= hidden_field_tag :list_id, @list.id %>
    <%= text_field_tag :content, "", placeholder: "Add a new item..." %>
  <% end %>
  <ul>
    <% @list.items.each do |item| %>
      <li><%= item.content %> <%= link_to "(Delete)", item, method: :delete %></li>
    <% end %>
  </ul>
</div>
